
@{
    ViewBag.Title = "enmtyCart";
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
}
<div class="innerf-pages section ">
    <div class="container">
        <div class="right-confirm col-md-7">
            <div class="content">
                <h2>Ohhhhh!!! Giỏ hàng của bạn đang trống</h2>
                <p>
                    <a href="@Url.Action("showAllSP","SanPham")" class="btn btn-danger">
                        <i class="fa fa-shopping-cart"></i>
                        Shopping ngay
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
